  <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
    <a class="navbar-brand" routerLink="/">Logo</a>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/farmmanagement">Farm Management</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/statistics">Statistics</a>
      </li>
      
      <select>
        <option *ngFor="let farm of farmsList" [value]="farm.farmId">
          Farm : {{farm.farmId}}
        </option>
      </select>
      

    </ul>
    
  </nav>

  <div style="text-align: center">
    <h1>Velkommen til din Svinefarms, angular, SPA</h1>
    <div>




<router-outlet></router-outlet>